---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/message-bus/f86ee229-8938-4368-bc67-7a5ac923a938/poll?dlp=t
    body:
      encoding: US-ASCII
      string: "%2Forg_exchange_rates=18349705"
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3c15080734864cc787e377fd626df43a;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"global_id":18349833,"message_id":18349833,"channel":"/org_exchange_rates","data":{"base_currency":"PHP","counter_currency":"KRW","mid":"21.4935276472101","buy":"21.084741836102","sell":"21.9023134583182","created_at":1550058726,"expires_at":1550059326}},{"global_id":18349840,"message_id":18349840,"channel":"/org_exchange_rates","data":{"base_currency":"PHP","counter_currency":"IDR","mid":"269.1199559546001","buy":"264.001558393902","sell":"274.2383535152982","created_at":1550058726,"expires_at":1550059326}},{"global_id":18349847,"message_id":18349847,"channel":"/org_exchange_rates","data":{"base_currency":"PHP","counter_currency":"AED","mid":"0.0703463271561","buy":"0.069008409022","sell":"0.0716842452902","created_at":1550058726,"[...]
