---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/message-bus/c2b6124a-4cbe-4a3b-aab2-28d74005a6de/poll?dlp=t
    body:
      encoding: US-ASCII
      string: "%2Fexchange_rates=18273465"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3a90947ab1094a1084269ca91a211080;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"global_id":18349006,"message_id":18349006,"channel":"/exchange_rates","data":{"base_currency":"BTC","counter_currency":"IDR","mid":"50791158.0","buy":"49825160.0","sell":"51757156.0","created_at":1550058555,"expires_at":1550059155}},{"global_id":18349013,"message_id":18349013,"channel":"/exchange_rates","data":{"base_currency":"XLM","counter_currency":"USD","mid":"0.0754116124005","buy":"0.07397735751","sell":"0.076845867291","created_at":1550058555,"expires_at":1550059155}},{"global_id":18349020,"message_id":18349020,"channel":"/exchange_rates","data":{"base_currency":"BTC","counter_currency":"USD","mid":"3565.51245","buy":"3496.3068","sell":"3634.7181","created_at":1550058555,"expires_at":1550058852}},{"globa[...]
