---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v2/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4b587ae935a85697244b3ee984d74ab1"
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","bx8_fee":"100.0","price":"336098.560518990192","total":"504147.840778485288","expiration_timestamp":1534739253,"memo":"TCYtJyAkQZuAOYdRtdtaYSySldYn","quote_type":"sell"}'
  recorded_at: Mon, 20 Aug 2018 04:22:33 GMT
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v2/quotes/TCYtJyAkQZuAOYdRtdtaYSySldYn
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 20 Aug 2018 04:22:33 GMT
recorded_with: VCR 4.0.0
