---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v2/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5","amount_type":"base"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f259a693853cac856b763a48c699d2c"
      X-Cloud-Trace-Context:
      - 76ab4391a75f4a848f72e887d6729135;o=0
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","quoted_amount":"1.5","amount_type":"base","bx8_fee":"20.0","price":"353340.986008558285158090264","total":"530011.47","expiration_timestamp":1577950666,"memo":"KVVZ","stellar_address":"[bloom_trade_address]","quote_type":"sell"}'
  recorded_at: Thu, 02 Jan 2020 06:37:46 GMT
recorded_with: VCR 4.0.0
