---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c6ee71c949a79ad0f92b65acc9ea736"
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","bx8_fee":"100.0","price":"336136.46385747604","total":"504204.69578621406","expiration_timestamp":1534744124,"memo":"ngAGgdUDuGSGghrVcRorohrxspQo","quote_type":"sell"}'
  recorded_at: Mon, 20 Aug 2018 05:43:44 GMT
recorded_with: VCR 4.0.0
