---
http_interactions:
- request:
    method: post
    uri: https://trade-staging.bloom.solutions/message-bus/ec079f40-2234-40d3-989c-d0b8aafd4b79/poll?dlp=t
    body:
      encoding: US-ASCII
      string: "%2Fexchange_rates=0"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 38ace92d07944397c23c6547a72fe096;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"global_id":4407231,"message_id":597394,"channel":"/exchange_rates","data":{"base_currency":"USD","counter_currency":"AUD","mid":"1.4015825295849","buy":"1.374925804798","sell":"1.4282392543718","created_at":1550888287,"expires_at":1550888887}},{"global_id":4407239,"message_id":597395,"channel":"/exchange_rates","data":{"base_currency":"USD","counter_currency":"GBP","mid":"0.7653676199463","buy":"0.750811078626","sell":"0.7799241612666","created_at":1550888287,"expires_at":1550888887}},{"global_id":4407247,"message_id":597396,"channel":"/exchange_rates","data":{"base_currency":"USD","counter_currency":"MYR","mid":"4.0696855240167","buy":"3.992284097634","sell":"4.1470869503994","created_at":1550888287,"expires_at":15508888[...]
- request:
    method: post
    uri: https://trade-staging.bloom.solutions/message-bus/57a677ce-d250-40e7-bbbe-2b037207cd4e/poll?dlp=t
    body:
      encoding: US-ASCII
      string: "%2Forg_exchange_rates=0"
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2c98502e554b44e3ccd99d095f6e42a9;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"global_id":4414120,"message_id":3788895,"channel":"/org_exchange_rates","data":{"base_currency":"PHP","counter_currency":"JPY","mid":"2.1277008105","buy":"2.1277008105","sell":"2.1277008105","created_[...]
