---
http_interactions:
- request:
    method: post
    uri: https://trade-staging.bloom.solutions/message-bus/57573c13-326e-40f7-b44e-680dd1e07178/poll?dlp=t
    body:
      encoding: US-ASCII
      string: "%2Fexchange_rates=0"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 989003a0c572462bc5fbcf053db35c7e;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"global_id":4008816,"message_id":547948,"channel":"/exchange_rates","data":{"base_currency":"USD","counter_currency":"AUD","mid":"1.4042676003264","buy":"1.377559808128","sell":"1.4309753925248","created_at":1550826246,"expires_at":1550826846}},{"global_id":4008824,"message_id":547949,"channel":"/exchange_rates","data":{"base_currency":"USD","counter_currency":"GBP","mid":"0.766153091988","buy":"0.75158161176","sell":"0.780724572216","created_at":1550826246,"expires_at":1550826846}},{"global_id":4008832,"message_id":547950,"channel":"/exchange_rates","data":{"base_currency":"USD","counter_currency":"MYR","mid":"4.0725127225881","buy":"3.995057525662","sell":"4.1499679195142","created_at":1550826246,"expires_at":1550826846}[...]
- request:
    method: post
    uri: https://trade-staging.bloom.solutions/message-bus/0919c2f2-9683-4629-a33c-239dbe0c986e/poll?dlp=t
    body:
      encoding: US-ASCII
      string: "%2Forg_exchange_rates=0"
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - a786aa65c31449348901906a59366848;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"global_id":4015707,"message_id":3442773,"channel":"/org_exchange_rates","data":{"base_currency":"PHP","counter_currency":"JPY","mid":"2.1267530605","buy":"2.1267530605","sell":"2.1267530605","created_[...]
[...]
