---
http_interactions:
- request:
    method: post
    uri: https://trade-staging.bloom.solutions/api/v2/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5","amount_type":"base"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3ecda0b7b3f785cb77cfccc1462949e"
      X-Cloud-Trace-Context:
      - 2121f977bec04c24c616d5f6264cad4b;o=0
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","quoted_amount":"1.5","amount_type":"base","bx8_fee":"20.0","price":"195534.8617984523905968","total":"293302.29","expiration_timestamp":1551355341,"memo":"GFXN","stellar_address":"[bloom_trade_address]","quote_type":"sell"}'
  recorded_at: Thu, 28 Feb 2019 11:02:21 GMT
- request:
    method: put
    uri: https://trade-staging.bloom.solutions/api/v2/quotes/GFXN
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"ABC","destination_address":"[stellar_address]"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Cloud-Trace-Context:
      - c65aed97d5934156c5863f9d6499a871;o=0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 28 Feb 2019 11:02:21 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575999'
      X-Ratelimit-Reset:
      - '3600'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.14.2",
          "core_version": "v10.1.0",
          "history_latest_ledger": 17603,
          "history_elder_ledger": 8604,
          "core_latest_ledger": 17603,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 10
        }
  recorded_at: Thu, 28 Feb 2019 11:02:22 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/accounts/[bx8_issuer_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575998'
      X-Ratelimit-Reset:
      - '3599'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[bx8_issuer_address]",
          "paging_token": "",
          "account_id": "[bx8_issuer_address]",
          "sequence": "49070001356840",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "9999.9996000",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[bx8_issuer_address]",
              "weight": 1,
              "key": "[bx8_issuer_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Thu, 28 Feb 2019 11:02:23 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.bloomx.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAL5O2OPfel9HrhTvx%2Bh%2Bwbh3HalTsmLF0VPkaHT53sNVAAAAZAAALKEAAAApAAAAAAAAAAEAAAAER0ZYTgAAAAEAAAABAAAAAL5O2OPfel9HrhTvx%2Bh%2Bwbh3HalTsmLF0VPkaHT53sNVAAAAAQAAAAA%2Flw93Cl%2FGkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx%2Bh%2Bwbh3HalTsmLF0VPkaHT53sNVAAAAAAvrwgAAAAAAAAAAAfnew1UAAABAmnuvpWDh72ma0zHTP8CFIqJStUgQuzxowjUh3vxoGZdFcxyBCPqDvrwK2kDpIEZObyJcm4VDZhL0KDyJi8XGDQ%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575997'
      X-Ratelimit-Reset:
      - '3597'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions/9ed21a7a424205e9a4c651ddfa18d1320a8b4a83e4320a64f92684f8d571c8b4"
            }
          },
          "hash": "9ed21a7a424205e9a4c651ddfa18d1320a8b4a83e4320a64f92684f8d571c8b4",
          "ledger": 17605,
          "envelope_xdr": "AAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAAZAAALKEAAAApAAAAAAAAAAEAAAAER0ZYTgAAAAEAAAABAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAAAQAAAAA/lw93Cl/GkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAAAAvrwgAAAAAAAAAAAfnew1UAAABAmnuvpWDh72ma0zHTP8CFIqJStUgQuzxowjUh3vxoGZdFcxyBCPqDvrwK2kDpIEZObyJcm4VDZhL0KDyJi8XGDQ==",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAQAAAAIAAAADAABExQAAAAAAAAAAvk7Y4996X0euFO/H6H7BuHcdqVOyYsXRU+RodPnew1UAAAAXSHbX/AAALKEAAAAoAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAABExQAAAAAAAAAAvk7Y4996X0euFO/H6H7BuHcdqVOyYsXRU+RodPnew1UAAAAXSHbX/AAALKEAAAApAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAgAAAAMAAEKFAAAAAQAAAAA/lw93Cl/GkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAbShVd0gB//////////wAAAAEAAAAAAAAAAAAAAAEAAETFAAAAAQAAAAA/lw93Cl/GkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAbSiFJlAB//////////wAAAAEAAAAAAAAAAA=="
        }
  recorded_at: Thu, 28 Feb 2019 11:02:30 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/accounts/[bloomx_issuer_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575996'
      X-Ratelimit-Reset:
      - '3590'
    body:
      [...]
[...]
- request:
    method: get
    uri: https://trade-staging.bloom.solutions/api/v2/orders/GFXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - 462edc4875354685ca8accd85308255e;o=0
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Thu, 28 Feb 2019 11:02:36 GMT
[...]
- request:
    method: get
    uri: https://trade-staging.bloom.solutions/api/v2/orders/GFXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2023c2cf2ccc5ea79568afab374a84c8"
      X-Cloud-Trace-Context:
      - b5b87764c9ab419ccb07e0af1345073c;o=0
    body:
      encoding: UTF-8
      string: '{"incoming_amount":"1.5","outgoing_amount":"293302.29","outgoing_currency_slug":"PHP","incoming_currency_slug":"BTC","price":"195534.8617984523905968","received_amount":"0.0","status":"processing"}'
  recorded_at: Thu, 28 Feb 2019 11:02:38 GMT
[...]
- request:
    method: put
    uri: https://trade-staging.bloom.solutions/api/v2/orders/GFXN/complete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Cloud-Trace-Context:
      - 501f9d8913114711c0b62d798c90341c;o=1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 28 Feb 2019 11:02:46 GMT
[...]
- request:
    method: get
    uri: https://trade-staging.bloom.solutions/api/v2/orders/GFXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4db2d3aeb381dd897eb709fb509d320a"
      X-Cloud-Trace-Context:
      - 6583d9d26b7842d589709469388e212e;o=0
    body:
      encoding: UTF-8
      string: '{"incoming_amount":"0.001","outgoing_amount":"195.5348617984523905968","outgoing_currency_slug":"PHP","incoming_currency_slug":"BTC","price":"195534.8617984523905968","received_amount":"0.001","status":"completed"}'
  recorded_at: Thu, 28 Feb 2019 11:02:51 GMT
recorded_with: VCR 4.0.0
