---
http_interactions:
- request:
    method: post
    uri: https://trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":1.5}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: API Token not found
  recorded_at: Wed, 25 Jul 2018 02:24:48 GMT
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":1.5}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec1a4d698d1665ff4a937cccca7d0aa8"
    body:
      encoding: UTF-8
      string: '{"id":94,"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","memo":"ZMUmhWlHCPXKZgrxapQrctCvlYym","amount":"1.5","bx8_fee":"100.0","price":"331293.256477858014","total":"496939.884716787021","expiration_timestamp":1533042598,"created_at":"2018-07-31T13:04:58.500Z","updated_at":"2018-07-31T13:04:58.500Z"}'
  recorded_at: Tue, 31 Jul 2018 13:04:58 GMT
recorded_with: VCR 4.0.0
