---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b5c789eed835a50b67a13b028fff18c"
    body:
      encoding: UTF-8
      string: '{"id":104,"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","memo":"YECBcmYkCUhHjRFDdTrujPUqqUeN","amount":"1.5","bx8_fee":"100.0","price":"331366.77845305995","total":"497050.167679589925","expiration_timestamp":1533094399,"created_at":"2018-08-01T03:28:19.288Z","updated_at":"2018-08-01T03:28:19.288Z"}'
  recorded_at: Wed, 01 Aug 2018 03:28:19 GMT
recorded_with: VCR 4.0.0
