---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"421a6361106dccbe5d57733f98cd1863"
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","bx8_fee":"100.0","price":"338038.2136271063","total":"507057.32044065945","expiration_timestamp":1534392817,"memo":"OUQBvSxrMtAVDNxxQihISkstiIRe","quote_type":"sell"}'
  recorded_at: Thu, 16 Aug 2018 04:08:37 GMT
recorded_with: VCR 4.0.0
