---
http_interactions:
- request:
    method: post
    uri: https://trade-staging.bloom.solutions/api/v2/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5","amount_type":"base"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5bfd96cc18602ad6b39ff8b49b12dcae"
      X-Cloud-Trace-Context:
      - 54d4f17f3fdb4bd7ce97bcb2bffa69fd;o=1
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","quoted_amount":"1.5","amount_type":"base","bx8_fee":"20.0","price":"194893.41338895875436","total":"292340.12","expiration_timestamp":1551430746,"memo":"KZHW","stellar_address":"[bloom_trade_address]","quote_type":"sell"}'
  recorded_at: Fri, 01 Mar 2019 07:59:06 GMT
- request:
    method: put
    uri: https://trade-staging.bloom.solutions/api/v2/quotes/KZHW
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"ABC","destination_address":"[stellar_address]"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Cloud-Trace-Context:
      - 75848e97b53c4ccc8dd541707fc179be;o=1
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 01 Mar 2019 07:59:06 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575991'
      X-Ratelimit-Reset:
      - '3483'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.14.2",
          "core_version": "v10.1.0",
          "history_latest_ledger": 32378,
          "history_elder_ledger": 32346,
          "core_latest_ledger": 32378,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 10
        }
  recorded_at: Fri, 01 Mar 2019 07:59:08 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/accounts/[bx8_issuer_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575990'
      X-Ratelimit-Reset:
      - '3482'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/[bx8_issuer_address]/data/{key}",
              "templated": true
            }
          },
          "id": "[bx8_issuer_address]",
          "paging_token": "",
          "account_id": "[bx8_issuer_address]",
          "sequence": "49070001356842",
          "subentry_count": 0,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "9999.9995800",
              "buying_liabilities": "0.0000000",
              "selling_liabilities": "0.0000000",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "[bx8_issuer_address]",
              "weight": 1,
              "key": "[bx8_issuer_address]",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Fri, 01 Mar 2019 07:59:09 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.bloomx.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAL5O2OPfel9HrhTvx%2Bh%2Bwbh3HalTsmLF0VPkaHT53sNVAAAAZAAALKEAAAArAAAAAAAAAAEAAAAES1pIVwAAAAEAAAABAAAAAL5O2OPfel9HrhTvx%2Bh%2Bwbh3HalTsmLF0VPkaHT53sNVAAAAAQAAAAA%2Flw93Cl%2FGkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx%2Bh%2Bwbh3HalTsmLF0VPkaHT53sNVAAAAAAvrwgAAAAAAAAAAAfnew1UAAABAjcH1ox%2BAlYOMN%2FEN%2BkscKEOeC8Ii7oGGCQZpaJ7fxjClj%2BDdLHhjwjFOMZR3gu3ETXF7VqJMNkDhz6g0pieQDA%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575989'
      X-Ratelimit-Reset:
      - '3481'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "transaction": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions/eb18e5b90982c52da071c94e35bd5c094f4dd8c0a28303b99864ffb2eda1eb9b"
            }
          },
          "hash": "eb18e5b90982c52da071c94e35bd5c094f4dd8c0a28303b99864ffb2eda1eb9b",
          "ledger": 32380,
          "envelope_xdr": "AAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAAZAAALKEAAAArAAAAAAAAAAEAAAAES1pIVwAAAAEAAAABAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAAAQAAAAA/lw93Cl/GkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAAAAvrwgAAAAAAAAAAAfnew1UAAABAjcH1ox+AlYOMN/EN+kscKEOeC8Ii7oGGCQZpaJ7fxjClj+DdLHhjwjFOMZR3gu3ETXF7VqJMNkDhz6g0pieQDA==",
          "result_xdr": "AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAA=",
          "result_meta_xdr": "AAAAAQAAAAIAAAADAAB+fAAAAAAAAAAAvk7Y4996X0euFO/H6H7BuHcdqVOyYsXRU+RodPnew1UAAAAXSHbXNAAALKEAAAAqAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAB+fAAAAAAAAAAAvk7Y4996X0euFO/H6H7BuHcdqVOyYsXRU+RodPnew1UAAAAXSHbXNAAALKEAAAArAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAgAAAAMAAH5zAAAAAQAAAAA/lw93Cl/GkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAbSi01VgB//////////wAAAAEAAAAAAAAAAAAAAAEAAH58AAAAAQAAAAA/lw93Cl/GkoBuIwY6E5vDdRhcWwIwtU2RkdSZWSjMwAAAAAFCWDgAAAAAAL5O2OPfel9HrhTvx+h+wbh3HalTsmLF0VPkaHT53sNVAAAbSjkhGAB//////////wAAAAEAAAAAAAAAAA=="
        }
  recorded_at: Fri, 01 Mar 2019 07:59:13 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/accounts/[bloomx_issuer_address]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575988'
      X-Ratelimit-Reset:
      - '3477'
    body:
      [...]
[...]
- request:
    method: get
    uri: https://trade-staging.bloom.solutions/api/v2/orders/KZHW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a8227bb998163fce9e69754180041b8"
      X-Cloud-Trace-Context:
      - 3128eb054bac40a0c9a55c0bcde9986b;o=1
    body:
      encoding: UTF-8
      string: '{"incoming_amount":"1.5","outgoing_amount":"292340.12","outgoing_currency_slug":"PHP","incoming_currency_slug":"BTC","price":"194893.41338895875436","received_amount":"0.0","status":"processing","payable_amount":"0.0"}'
  recorded_at: Fri, 01 Mar 2019 07:59:19 GMT
[...]
- request:
    method: get
    uri: https://trade-staging.bloom.solutions/api/v2/orders/KZHW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15adb0376673133e530b4ef3cafd3af4"
      X-Cloud-Trace-Context:
      - 9a20a70177b64d28853e319c8e002f7f;o=0
    body:
      encoding: UTF-8
      string: '{"incoming_amount":"1.5","outgoing_amount":"292340.12","outgoing_currency_slug":"PHP","incoming_currency_slug":"BTC","price":"194893.41338895875436","received_amount":"0.001","status":"processing","payable_amount":"194.89"}'
  recorded_at: Fri, 01 Mar 2019 07:59:29 GMT
recorded_with: VCR 4.0.0
