---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"5000.0","amount_type":"counter"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8401dc7e77333b9cc310418230c83474"
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"5000.0","quoted_amount":"0.0149334511","amount_type":"counter","bx8_fee":"100.0","price":"334818.7883842985934545454545454740030203932","total":"5000.0","expiration_timestamp":1535084204,"memo":"poCUHYUAGIUckfrvcffKpuSWQjRV","quote_type":"sell"}'
  recorded_at: Fri, 24 Aug 2018 04:11:44 GMT
recorded_with: VCR 4.0.0
