---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v2/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"5000.0","amount_type":"counter"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57fb92c0fe543933cc82c8036d137078"
      X-Cloud-Trace-Context:
      - 99f2e68bbb754c0cc74f12a2324428e8;o=0
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"5000.0","quoted_amount":"0.0141493","amount_type":"counter","bx8_fee":"20.0","price":"353374.3358969200202","total":"5000.0","expiration_timestamp":1577950667,"memo":"KGFH","stellar_address":"[bloom_trade_address]","quote_type":"sell"}'
  recorded_at: Thu, 02 Jan 2020 06:37:47 GMT
recorded_with: VCR 4.0.0
