---
http_interactions:
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v2/quotes/PWJxyaVLCyipYJxVaVkpRWCIFEJz
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 20 Aug 2018 04:21:26 GMT
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v2/quotes/PWJxyaVLCyipYJxVaVkpRWCIFEJz
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"destination_memo":["is already assigned"],"destination_address":["is
        already assigned"]}}'
  recorded_at: Mon, 20 Aug 2018 04:21:27 GMT
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v2/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5","amount_type":"base"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6fffd0c56de98ef729a5b61d91cd8dd6"
      X-Cloud-Trace-Context:
      - 6c9403e3921d4295c6965aaa0ddc0531;o=0
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","quoted_amount":"1.5","amount_type":"base","bx8_fee":"20.0","price":"353340.986008558285158090264","total":"530011.47","expiration_timestamp":1577950685,"memo":"KJZJ","stellar_address":"[bloom_trade_address]","quote_type":"sell"}'
  recorded_at: Thu, 02 Jan 2020 06:38:05 GMT
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v2/quotes/KJZJ
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Cloud-Trace-Context:
      - 2f93373d8bb845f486360a0b92b40cfe;o=0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 02 Jan 2020 06:38:05 GMT
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v2/quotes/KJZJ
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 3cebda915207451e849ff7640014fa3d;o=0
    body:
      encoding: UTF-8
      string: '{"errors":{"destination_memo":["is already assigned"],"destination_address":["is
        already assigned"]}}'
  recorded_at: Thu, 02 Jan 2020 06:38:05 GMT
recorded_with: VCR 4.0.0
