---
http_interactions:
- request:
    method: post
    uri: https://staging.trade.bloom.solutions/api/v1/quotes
    body:
      encoding: UTF-8
      string: '{"quote":{"base_currency":"BTC","counter_currency":"PHP","quote_type":"sell","amount":"1.5"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a9b43cd704c7cded37367a70b250b894"
    body:
      encoding: UTF-8
      string: '{"base_currency":"BTC","counter_currency":"PHP","amount":"1.5","bx8_fee":"100.0","price":"336098.560518990192","total":"504147.840778485288","expiration_timestamp":1534739186,"memo":"PWJxyaVLCyipYJxVaVkpRWCIFEJz","quote_type":"sell"}'
  recorded_at: Mon, 20 Aug 2018 04:21:26 GMT
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v1/quotes/PWJxyaVLCyipYJxVaVkpRWCIFEJz
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 20 Aug 2018 04:21:26 GMT
- request:
    method: put
    uri: https://staging.trade.bloom.solutions/api/v1/quotes/PWJxyaVLCyipYJxVaVkpRWCIFEJz
    body:
      encoding: UTF-8
      string: '{"quote":{"destination_memo":"V1234","destination_address":"G-1234"}}'
    headers:
      Authorization:
      - Bearer [bloom_trade_api_token]
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"destination_memo":["is already assigned"],"destination_address":["is
        already assigned"]}}'
  recorded_at: Mon, 20 Aug 2018 04:21:27 GMT
recorded_with: VCR 4.0.0
